
@{
    ViewBag.Title = "Index";
}

<table width="500px">
    <caption>Thông tin sinh viên</caption>
    <tr>
        <td>Mã sinh viên:</td>
        <td>2019601499</td>
    </tr>
    <tr>
        <td>Họ tên:</td>
        <td>Tô Văn Sang</td>
    </tr>
    <tr>
        <td>Ngày sinh:</td>
        <td>10-11-2001</td>
    </tr>
    <tr>
        <td>Địa chỉ:</td>
        <td>Bắc Ninh</td>
    </tr>
</table>

