
@{
    ViewBag.Title = "Index";
}

<style>
    th, td {
        padding: 5px;
    }

    label {
        font-weight: normal;
    }
</style>

@using (Html.BeginForm("Result", "Bai4_3", FormMethod.Post))
{
    <table border="1" cellspacing="0" width="500px" style="margin-top: 20px;">
        <tr>
            <td colspan="3" style="font-weight: bold; text-align: center;">NHẬP ĐIỂM THI</td>
        </tr>
        <tr>
            <td>Họ tên thí sinh:</td>
            <td><input name="name" /></td>
            <td>
                <input type="checkbox" id="gdcs" name="gdcs" />
                <label for="gdcs">Gia đình chính sách</label>
            </td>
        </tr>
        <tr>
            <td>Chọn khu vực:</td>
            <td colspan="2">
                <select name="kv">
                    <option value="a">Khu vực A</option>
                    <option value="b">Khu vực B</option>
                    <option value="c">Khu vực C</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Vào điểm Toán:</td>
            <td colspan="2">
                <input name="toan" />
            </td>
        </tr>
        <tr>
            <td>Vào điểm Lý:</td>
            <td colspan="2">
                <input name="ly" />
            </td>
        </tr>
        <tr>
            <td>Vào điểm Hóa:</td>
            <td colspan="2">
                <input name="hoa" />
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;">
                <input type="submit" value="TÍNH" />
            </td>
        </tr>
    </table>
}