
@{
    ViewBag.Title = "Index";
}

<table width="500px" border="1" cellspacing="0" style="margin-top:20px">
    <tr>
        <td colspan="2" style="font-weight:bold">Thông tin sinh viên</td>
    </tr>
    <tr>
        <td>Mã SV:</td>
        <td>SV001</td>
    </tr>
    <tr>
        <td>Họ tên:</td>
        <td>Lê Thị Vân</td>
    </tr>
    <tr>
        <td>Ngày sinh:</td>
        <td>16-09-2003</td>
    </tr>
    <tr>
        <td>Quê Quán:</td>
        <td>Nam Từ Liêm, Hà Nội</td>
    </tr>
</table>

