
@{
    ViewBag.Title = "Tuyển sinh";
}

<h2>Tuyển sinh</h2>

<div style="height:auto !important;">
    <h3>Thông tin tuyển sinh đại học chính quy năm 2022 (Mã trường: DCN)</h3>
    <div>
        <span>05/05/2022 07:00:00</span>
    </div>
    <p style="font-style:italic; font-weight:bold;margin: 10px 0;">

    </p>
    <p style="margin-left:0cm;margin-right:0cm;text-align:justify;"><strong><span style="font-size:16px;"><span style="color:#c0392b;">Nhà trường mở cổng đăng ký xét tuyển từ ngày 25/5/2022 đến 15/06/2022 cho các phương thức:</span></span></strong></p>

    <p style="margin-left:0cm;margin-right:0cm;text-align:justify;"><strong>1. Phương thức xét tuyển thí sinh đoạt giải học sinh giỏi cấp tỉnh/thành phố, thí sinh có chứng chỉ quốc tế</strong></p>

    <p>- Điều kiện đăng ký xét tuyển:&nbsp;Thí sinh có điểm tổng kết từng môn học trong tổ hợp đăng ký xét tuyển của tất cả các học kỳ từ 7,5 điểm trở lên (5 học kỳ đối với thí sinh tốt nghiệp năm 2022 bao gồm: học kỳ 1 và học kỳ 2 của năm lớp 10, 11 và học kỳ 1 năm lớp 12; 6 học kỳ đối với thí sinh tốt nghiệp từ năm 2021 trở về trước bao gồm: học kỳ 1 và học kỳ 2 của năm lớp 10, 11, 12) và thỏa mãn một trong hai điều kiện sau:</p>

    <p>+ Thí sinh đoạt giải Nhất, Nhì, Ba trong kỳ thi học sinh giỏi THPT cấp tỉnh/thành phố các môn Toán, Vật lý, Hóa học, Sinh học, Ngữ văn, Lịch sử, Địa lý, Tin học, Tiếng Anh, Tiếng Trung, Tiếng Nhật, Tiếng Hàn.</p>

    <p>+ Thí sinh có một trong các chứng chỉ Quốc tế ACT ≥ 20, SAT ≥ 1000; Chứng chỉ tiếng Anh quốc tế&nbsp; IELTS Academic ≥ 5.5, TOEFL iBT ≥ 50; Chứng chỉ Tiếng Hàn TOPIK ≥ 3; Chứng chỉ tiếng Trung HSK ≥ 3; Chứng chỉ Tiếng Nhật N ≤ 4 (Chứng chỉ trong thời hạn 24 tháng tính đến ngày đăng ký xét tuyển).</p>

    <p style="margin-left:0cm;margin-right:0cm;text-align:justify;"><strong>2. Phương thức xét tuyển dựa trên kết quả học tập ở bậc học THPT</strong></p>

    <p>&nbsp;- Điều kiện đăng ký xét tuyển: Thí sinh có điểm tổng kết từng môn học trong tổ hợp đăng ký xét tuyển của tất cả các học kỳ từ 7,5 điểm trở lên (5 học kỳ đối với thí sinh tốt nghiệp năm 2022 bao gồm: học kỳ 1 và học kỳ 2 của năm lớp 10,11 và học kỳ 1 năm lớp 12; 6 học kỳ đối với thí sinh tốt nghiệp từ năm 2021 trở về trước bao gồm: học kỳ 1 và học kỳ 2 của năm lớp 10, 11, 12).</p>

    <p style="margin-left:0cm;margin-right:0cm;text-align:justify;">&shy;<strong>3. Phương thức xét tuyển dựa&nbsp;trên kết quả thi đánh giá năng lực&nbsp;do Đại học Quốc gia Hà Nội tổ chức năm 2022</strong></p>

    <p style="margin-left:0cm;margin-right:0cm;text-align:justify;">- Điều kiện đăng ký xét tuyển:&nbsp;Thí sinh có tổng&nbsp;điểm thi đánh giá năng lực từ 75 điểm trở lên.</p>

</div>