
@{
    ViewBag.Title = "Giới thiệu";
}

<h2>Giới thiệu</h2>

Trường Đại học Công nghiệp Hà Nội (Tiếng Anh: Hanoi University of Industry, viết tắt: HaUI) là một trường đại học công lập, đa cấp, đa nghề, định hướng thực hành trực thuộc Bộ Công thương. Trường được nâng cấp lên đại học năm 2005 trên cơ sở Trường Cao đẳng Công nghiệp Hà Nội. Tiền thân của trường là hai trường do thực dân Pháp thành lập là Trường Chuyên nghiệp Hà Nội năm 1898, và Trường Chuyên nghiệp Hải Phòng năm 1913.

<br />

Trường đào tạo đa cấp, đa ngành từ sơ cấp nghề, trung cấp nghề, cao đẳng nghề, cao đẳng kỹ thuật đến kỹ sư thực hành, cử nhân, thạc sĩ, tiến sĩ.